{% include "header.html" %}
<!--Use a bootstrap hero here. The hero content differs on user's logged-in status. Do these changes later.-->
<section id="hero">
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/assets/icons/cash.svg" class="d-block mx-lg-auto img-fluid" width="500" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Calculate financial ratios quickly and efficiently</h1>
        <p class="lead">Want to choose the best investment? Financial Ratios provide information needed for you to make a excellent decision. Our website allows you to quickly calculate financial ratios</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "footer.html" %}