<!--This is a common template for all the ratio pages-->
<!--Text in this template changes according to which ratio is being calculated-->

{% include "header.html" %}

<!--Definition of the ratio-->
<section id="definition">
  <div class="container-xxl mt-5">
    <div class="p-5 text-center bg-body-light rounded-3 mt-5">
      <h1 class="text-body-light text-light hidden"></h1>
      <h1 class="text-body-emphasis">{{ ratio_name }}</h1>
      <!--The equation is below-->
      <img src="../static/assets/images/{{ratio_name}}.png" class="mt-4 border border-primary">
      <p class="lead mt-4">{{ ratio_description }}</p>
    </div>
  </div>
</section>
    
{% include "footer.html" %}