<!--This is a common template for all the ratio pages-->
<!--Text in this template changes according to which ratio is being calculated-->

{% include "header.html" %}

<!--Definition of the ratio-->
<section id="definition">
  <div class="container-xxl mt-5">
    <div class="p-5 text-center bg-body-light rounded-3 mt-5">
      <h1 class="text-body-light text-light hidden"></h1>
      <h1 class="text-body-emphasis">{{ ratio_name }}</h1>
      <!--The equation is below-->
      {% if ratio_name == "P/E Ratio" %}
      <img src="../static/assets/images/pe ratio.png" class="mt-4 border border-primary">
      {% else %}
      <img src="../static/assets/images/{{ratio_name}}.png" class="mt-4 border border-primary">
      {% endif %}
      <p class="lead mt-4">{{ ratio_description }}</p>
    </div>
  </div>
</section>

<!--Calculation of the ratio-->
<section id="calculation">
  <div class="container-xxl mt-3">
    <form method="post" action="/ratio/{{ratio}}">
      {{ form.hidden_tag() }}
      <div class="row g-3">
        <div class="form-group col">
          <label for="{{ form.input_1.id }}" class="control-label mb-1">{{ labels[0] }}</label>
          <div class="col-sm-10">
            {{ form.input_1(class="form-control") }}
          </div>
        </div>
        <div class="form-group col">
          <label for="{{ form.input_2.id }}" class="control-label mb-1">{{ labels[1] }}</label>
          <div class="col-sm-10">
            {{ form.input_2(class="form-control") }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!--Display calculation result. Only shows if it's an POST request. Going to use a modal to display the output-->
{% if is_post %}
<section id="output">
  <div class="modal modal-sheet position-static d-block bg-body-light p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title-centered fs-5">Calculation Completed</h1>
          <!--I can't find a way to actually close the modal upon clicking the button-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p>{{ ratio_name }} is {{ result }}</p>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <!--For now it's just a button. Later, I need to add the save feature-->
          <button type="button" class="btn btn-lg btn-primary">Save to history</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
    
{% include "footer.html" %}