{% include 'header.html' %}

{% if saved_cals == [] %}
<div class="modal modal-sheet d-block  p-4 py-md-5 mt-5" tabindex="-1" role="dialog" id="modalSignin">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content rounded-4 shadow">
			<div class="modal-header p-4 pb-4 border-bottom-0 ms-5">
				<h1 class="fw-bold mb-0 fs-2 ms-5">No Calculations</h1>
			</div>

			<div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
				<p class="lead mb-4 text-center">Seems like you haven't saved any calculations yet.</p>
        <a type="button" class="btn btn-lg btn-primary" href="{{url_for('all_ratios')}}">View All Ratios Available on Our Site</a>
        <a type="button" class="btn btn-lg btn-secondary" href="/">Go Home</a>
			</div>
		</div>
	</div>
</div>
{% else %}
<section class="hero">
	<div class="container col-xxl-8 px-4 pt-5 mt-4">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="../static/assets/icons/history.svg" alt="History" class="d-block mx-lg-auto img-fluid" width="300" height="200" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Saved Calculations</h1>
				<p class="lead">All the calculations saved by the current user (<b>{{username}}</b>) is shown here. The calculations are ordered in most recent to oldest order.</p>
			</div>
		</div>
	</div>
</section>
<section class="calculations">
  <!--Saved calculations-->
  <div class="list-group container my-5">
  {% for cal in all_cals[::-1] %}
    <div class="list-group-item list-group-item-action container" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ cal.calculation_name }}</h5>
        <small>{{ cal.date }}</small>
      </div>
      <p class="mb-1 lead ms-4"> Final Result: {{ cal.result }}</p>
      <p class="mb-1 ms-4">{{ cal.input_1_name }}: {{ cal.input_1_val }}</p>
      <p class="mb-1 ms-4">{{ cal.input_2_name }}: {{ cal.input_2_val }}</p>
      {% if cal.notes %}
      <small class="mb-1 ms-4">Notes: {{ cal.notes }}</small>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</section>
{% endif %}

{% include 'footer.html' %}