{% include 'header.html' %}

<!--Definition of Due Diligence-->
<section>
	<div class="container-xxl mt-5">
		<div class="p-5 text-center bg-body-light rounded-3 mt-5">
			<h1 class="text-body-light text-light hidden"></h1>
			<h1 class="text-body-emphasis">Secret Due Diligence Checklist</h1>
			<!--The equation is below-->
			<p class="lead mt-5">
				It is through the process of <b>due diligence</b> (the careful evaluation of a potential investment to confirm
				all material facts) that a sophisticated investor sees the other side of the coin. The faster you are able to
				do your diligence on any investment the better you will be to find the safest  investments with the greatest
				possibility for cash flow or capital gains.
			</p>
			<p class="lead mt-2">
				Once you have determined that a piece of real estate will generate a positive cash flow, you still need to
				perform due diligence on the property. <strong>Here is a due diligence checklist for real estate.</strong>
			</p>
		</div>
	</div>
</section>

<!--Due diligence checklist-->
<section>
	<ol class="list-group container-xxl">
		{% for i, line in enumerate(lines) %}
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" id="line-{{i}}">
			<label class="form-check-label stretched-link" for="line-{{i}}">{{i + 1}}. {{ line }}</label>
		</li>
		{% endfor %}
	</ol>
</section>

{% include 'footer.html' %}